
[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = accessors,events,indexers,properties
csharp_preferred_modifier_order = private, protected, public, virtual, volatile, abstract, internal, override, sealed, new, static, extern, unsafe, readonly, async:suggestion
csharp_preserve_single_line_blocks = true

# ReSharper properties
resharper_align_multiline_parameter = true
resharper_arguments_literal = positional
resharper_blank_lines_around_auto_property = 0
resharper_braces_for_for = required
resharper_csharp_align_multiline_binary_expressions_chain = true
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_insert_final_newline = false
resharper_csharp_max_line_length = 286
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_instance_members_qualify_declared_in = 
resharper_keep_existing_embedded_block_arrangement = false
resharper_keep_existing_enum_arrangement = false
resharper_place_expr_property_on_single_line = true
resharper_remove_blank_lines_near_braces_in_declarations = false
resharper_space_within_single_line_array_initializer_braces = false
resharper_wrap_before_declaration_rpar = false
resharper_wrap_object_and_collection_initializer_style = wrap_if_long
